<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Create Blog</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f7f7f7;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px 0;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .logo {
            font-size: 24px;
        }

        .logo a {
            text-decoration: none;
            color: #fff;
        }

        .links a {
            text-decoration: none;
            color: #fff;
            margin-left: 20px;
        }

        .content {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

        .form-container {
            padding: 20px;
        }

        label {
            font-size: 18px;
        }

        input[type="text"], textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 18px;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <header>
        <nav>
             <div class="logo">
                <a href="/">TODO</a>
            </div>
            <div class="links">
                <a href='/create'>New Task</a>
                <a href='/tasks'>My Tasks</a>
                <a href='/complete'>Completed Tasks</a>
                
            </div>
        </nav>
    </header>
    <div class="content">
        <h1>Create a New task</h1>
        <div class="form-container">
            <form action="/tasks" method="POST">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>

                <label for="description">Description:</label>
                <input type="text" id="description" name="description" required>

                <button type="submit">Add task</button>
            </form>
        </div>
    </div>
</body>
</html>
